.sectionTicket
	background-image: url(../img/main-bg.png)
	background-repeat: no-repeat
	background-position: 50%
	overflow: hidden
	@media only screen and (min-width: 1200px)
		padding-bottom: 140px
		margin-bottom: -155px

	@media only screen and (max-width: 991px)
		background-position: 50% 63%
	@media only screen and (max-width: 767px)
		height: 400px
		background-position: 0
		background-size: cover
	@media only screen and (max-width: 650px)
		background-position: -193px 0

.containerMain
	max-width: 1230px
	margin-left: auto
	margin-right: auto

.partWrapper
	position: relative
	display: flex
	@media only screen and (max-width: 991px)
		height: 500px
	@media only screen and (max-width: 575px)
		height: 334px

.partLeft,
.partCenter,
.partRight
	flex-shrink: 0
	position: relative
	z-index: 1

// partLeft
.palmItem
	padding-top: 100px
	@media only screen and (max-width: 1199px)
		padding-top: 50px 
	@media only screen and (max-width: 991px)
		width: 130px
	@media only screen and (max-width: 767px)
		display: none
	&--mobile
		@media only screen and (min-width: 768px)
			display: none
		@media only screen and (max-width: 767px)	
			transform: translateY(53px)

.aircraftItem
	padding-top: 66px
	@media only screen and (max-width: 1440px)
		padding-top: 100px
	@media only screen and (max-width: 1199px)
		transform: translate(10px, 15px)

	@media only screen and (max-width: 991px)
		transform: translate(-9px, 86px)
		width: 70px
	@media only screen and (max-width: 767px)
		padding-top: 0
		transform: translate(-9px, 115px)		

.partLeft
	@media only screen and (max-width: 1440px)
		width: 19%
	@media only screen and (max-width: 1440px)
		width: auto	

// partCenter
.partCenter
	transform: translate(-22px, 36px)
	@media only screen and (max-width: 1440px)
		width: 28%
		transform: translate(18px, 95px)
	@media only screen and (max-width: 767px)
		width: 165px
		transform: translate(18px, 41px)

.instaItem
	position: relative
	transform: translate(29px, -11px)
	z-index: 2
	@media only screen and (max-width: 767px)
		transform: translate(4px, 0px)
		width: 190px

	@media only screen and (max-width: 420px)
		transform: translate(-16px, 29px)

//partRight
.partRight
	flex-shrink: 0
	transform: translate(45px, 37px)
	@media only screen and (max-width: 991px)
		width: 58%
	@media only screen and (max-width: 575px)
		position: absolute
		right: -27px
		width: 245px
		transform: translate(0)
		top: 13%
	@media only screen and (max-width: 420px)
		top: 23%

.starItem
	transform: translate(134px, -36px)

	@media only screen and (min-width: 576px)
		&--mobile
			display: none

	&--mobile		
		@media only screen and (max-width: 575px)		
			width: 80px
			position: absolute
			right: 0
			bottom: -22px
			z-index: 2

	@media only screen and (max-width: 575px)	
		display: none	
	@media only screen and (max-width: 1199px)
		transform: translate(134px, -32px)
	@media only screen and (max-width: 991px)
		width: 95px
		transform: translate(134px, 11px)	
	@media only screen and (max-width: 991px)
		transform: translate(134px, -52px)
	@media only screen and (max-width: 767px)
		transform: translate(144px, -55px)

.suitcase
	position: relative
	z-index: 2

	@media only screen and (max-width: 575px)
		transform: translate(0px, -17px)
		width: 260px
	@media only screen and (max-width: 420px)
		position: absolute	
		right: 0
		transform: translate(0px, 0)
		width: 175px

.ticketItem
	@media only screen and (max-width: 650px)
		transform: translate(-85px,-26px)

/*** sectionRegulations ***/		
// .sectionRegulations

.regulationWrapper
	font-size: 29px
	color: #000
	text-align: center
	@media only screen and (min-width: 768px)
		display: flex
	@media only screen and (min-width: 1200px)
		padding-left: 50px
	@media only screen and (max-width: 1199px)
		font-size: 25px
	@media only screen and (max-width: 991px)
		font-size: 23px	
	@media only screen and (max-width: 767px)
		font-size: 20px
	@media only screen and (max-width: 650px)
		font-size: 15px	
	a, strong
		color: #009adc
	a
		border-bottom: solid 1px #009adc
		transition: .3s ease
		&:hover
			border-bottom: none

.regulationItem
	position: relative
	@media only screen and (max-width: 767px)
		padding-bottom: 25px
	&:before
		content: ''
		position: absolute
		right: 0
		background-repeat: repeat-y
		@media only screen and (max-width: 767px)
			display: none

	&:first-child
		@media only screen and (min-width: 768px)
			max-width: 34%
		&:before
			right: -22px
			bottom: -57px
			width: 28px
			height: calc(100% + 94px)
			background-image: url(../img/line-1-1.png)
			@media only screen and (max-width: 1199px)
				top: -145px
				height: calc(100% + 191px)
			@media only screen and (max-width: 767px)
				display: none
	&:nth-child(2)
		@media only screen and (min-width: 768px)
			width: 74%
		@media only screen and (max-width: 1199px)
			width: 52%
		@media only screen and (max-width: 767px)
			width: 100%
		&:before
			width: 36px
			height: calc(100% + 161px)
			bottom: -45px
			right: -11px
			background-image: url(../img/line-2-1.png)
			@media only screen and (max-width: 1199px)
				height: calc(100% + 212px)
			@media only screen and (max-width: 991px)
				height: calc(100% + 163px)
			@media only screen and (max-width: 767px)
				display: none	
	&__icon
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 27px
		@media only screen and (max-width: 767px)
			margin-bottom: 10px
		@media only screen and (max-width: 575px)
			width: 75px
			margin-left: auto
			margin-right: auto	
	&__txt	
		text-align: center
		max-width: 80%
		margin-left: auto
		margin-right: auto
		line-height: 33px
		@media only screen and (max-width: 767px)
			max-width: 250px
			line-height: 22px
		@media only screen and (max-width: 575px)
			max-width: 143px

.regulationItem
	margin-top: 10px
	@media only screen and (max-width: 767px)
		&:after
			content: ''
			position: absolute
			background-image: url(../img/line-1-1-mobile.png)
			height: 27px
			width: 100%
			bottom: -10px
			left: 0

.regulationWrapper
	@media only screen and (max-width: 767px)
		padding: 0 8px
		&:after,
		&:before
			content: ''
			position: absolute
			background-image: url(../img/line-2-1-mobile.png)
			background-repeat: repeat
			height: 100%
			width: 8px
			bottom: 0
		&:before
			left: 3px
		&:after
			right: 3px		

.sectionRegulations
	position: relative
	padding-bottom: 89px
	@media only screen and (max-width: 767px)
		margin-top: -85px

	@media only screen and (max-width: 575px)
		padding-bottom: 50px	

	@media only screen and (min-width: 768px)
		&:before
			content: ''
			width: 100%
			height: 47px
			position: absolute
			left: 0
			bottom: 0
			background-image: url(../img/line-3.png)
			background-repeat: no-repeat

	.containerMain
		position: relative

.floatItem
	position: absolute
	&--left
		bottom: -51px
		left: 0
		@media only screen and (max-width: 767px)
			bottom: inherit
			top: 82px
			left: 9px
		@media only screen and (max-width: 650px)
			width: 100px
			top: 101px		
		@media only screen and (max-width: 575px)	
			top: 143px
			left: 9px
			width: 67px
	&--right
		bottom: -51px
		right: 0
		width: 180px
		@media only screen and (min-width: 1355px)
			right: -41px
		@media only screen and (max-width: 650px)
			bottom: 0
			right: 13px
			width: 100px
	&--center
		bottom: -264px
		right: 179px
		@media only screen and (max-width: 991px)
			right: 18%
		@media only screen and (min-width: 768px)
			&.mobile
				display: none
		@media only screen and (max-width: 767px)	
			right: inherit
			width: 191px
			bottom: -45px
			&.desktop
				display: none
			&.mobile
				display: block	

//sectionPrize
.sectionPrize
	padding-top: 56px
	padding-left: 28px
	@media only screen and (max-width: 991px)
		padding-top: 95px
	@media only screen and (max-width: 767px)
		padding-top: 0
		padding-left: 0

.priceWrapper
	display: flex
	justify-content: space-between
	@media only screen and (max-width: 991px)
		flex-wrap: wrap

.priceItem
	position: relative
	z-index: 2
	@media only screen and (max-width: 767px)
		margin-bottom: 20px

	&__left
		&--text
			font-size: 30px
			color: #000
			max-width: 480px
			margin-left: auto
			margin-right: auto
			display: flex
			line-height: 39px
			transform: translate(-44px, 3px) 
			text-align: center

			@media only screen and (max-width: 767px)
				justify-content: center
				transform: translate(0)
		&--icon
			@media only screen and (max-width: 576px)		
				max-width: 70%
				margin-left: auto
				margin-right: auto

	.part--img
		flex-shrink: 0
		transform: translate(32px, -34px)
		max-width: 235px
		@media only screen and (max-width: 991px)
			width: 280px
			transform: translate(32px, 4px)
		@media only screen and (max-width: 576px)
			width: 108px
	.part--text
		max-width: 250px
		flex-shrink: 0
		line-height: 32px
		font-weight: 100
		font-size: 25px
		p
			margin: 0
		@media only screen and (max-width: 991px)
			font-size: 20px	
			max-width: 100%
			width: 200px
			flex-shrink: 0
		@media only screen and (max-width: 767px)
			width: 250px
		@media only screen and (max-width: 650px)	
			font-size: 18px
			line-height: 22px
			margin-top: 20px
		@media only screen and (max-width: 650px)
			max-width: 64%
				
				
	&__right
		&--text
			font-size: 28px
			color: #000
			padding: 28px 27px 0 27px
			transform: translate(-2px, -46px)
			a
				color: #009adc
		&--icon
			transform: translate(-17px, -14px)
			@media only screen and (max-width: 575px)
				max-width: 70%
				margin-left: auto
				margin-right: auto
				transform: translate(0)

		&--text
			p
				margin: 0
				&:nth-child(2)
					text-align: right
					margin-right: 15%
					margin-top: 3px

.priceItem					
	@media only screen and (max-width: 1199px)
		width: 48%

	&__left
		&--text
			font-size: 25px
			line-height: normal
			@media only screen and (max-width: 576px)
				font-size: 19px
				margin-left: 0
			@media only screen and (max-width: 479px)
				font-size: 14px

	&__right
		&--text
			text-align: center
			@media only screen and (max-width: 991px)
				padding-left: 0
				padding-right: 0
				padding-top: 35px
				font-size: 19px
			@media only screen and (max-width: 575px)
				font-size: 14px
				transform: translate(0)
				padding-top: 10px


	@media only screen and (max-width: 991px)
		width: 38%
	@media only screen and (max-width: 767px)
		width: 100%
		margin-left: auto
		margin-right: auto
		text-align: center


.price--mobile
	@media only screen and (min-width: 575px)
		display: none 

//sectionPicture
.sectionPicture
	background-image: url(../img/bg-picture.png)
	background-repeat: no-repeat
	background-position: 45% 64px
	background-size: cover
	padding-top: 77px
	@media only screen and (max-width: 1199px)
		background-size: cover
		background-position: 50% 50%
	@media only screen and (max-width: 1199px)
		padding-top: 0px	
	.containerMain
		position: relative
		padding-top: 80px

.itemPictureWrapper
	display: flex
	@media only screen and (max-width: 1199px)
		flex-wrap: wrap
		justify-content: center

.itemPicture
	@media only screen and (max-width: 1400px)
		width: 40%
	@media only screen and (max-width: 1199px)
		width: auto
	@media only screen and (min-width: 1401px)
		width: 50%
	&__part
		display: flex
		position: relative
		@media only screen and (max-width: 767px)
			justify-content: center
		&--inner
			flex-shrink: 0

.itemPicture:first-child		
	.itemPicture__part--inner
		&:first-child
			transform: translate(2px, -16px)
			width: 395px
		&:last-child
			transform: translate(-124px, 3px)
			@media only screen and (max-width: 1199px)
				transform: translate(-40px, -21px)
			@media only screen and (max-width: 575px)
				transform: translate(-1px, -20px)	

.itemPicture
	&:last-child
		@media only screen and (min-width: 1200px)
			transform: translate(80px, 0)

	.itemPicture__part--bottom
		display: flex
		@media only screen and (max-width: 1199px)
			justify-content: center
			transform: translate(0, -45px)
		.icon
			transform: translate(25px, 0px)
			@media only screen and (max-width: 1199px)
				width: 118px
			@media only screen and (max-width: 479px)
				width: 80px	

		span
			font-size: 58px
			color: #fff
			transform: rotate(-16deg) translate(-5px, 63px)
			display: inline-block
			@media only screen and (max-width: 1199px)
				font-size: 26px
			@media only screen and (max-width: 479px)
				font-size: 17px	
		
.itemPicture:last-child
	.itemPicture__part--inner
		&:first-child
			transform: translate(-57px, -32px)
			@media only screen and (max-width: 1199px)
				transform: rotate(-18deg) translate(0px, -17px)

		&:last-child
			transform: translate(-100px, 1px)
			@media only screen and (max-width: 1199px)
				transform: rotate(12deg) translate(-32px, -43px)
			@media only screen and (max-width: 575px)
				transform: rotate(12deg) translate(-8px, -26px)

	.itemPicture__part--bottom
		display: flex
		justify-content: space-between
		align-items: flex-end
		@media only screen and (max-width: 1199px)
			padding-top: 5px
			justify-content: center
		span
			transform: rotate(10deg) translate(17px, -66px)
			color: #fff
			font-size: 37px
			@media only screen and (max-width: 1199px)
				transform: rotate(-16deg) translate(-64px, -37px)
				font-size: 26px
			@media only screen and (max-width: 650px)
				transform: rotate(-16deg) translate(-60px, 1px)
				font-size: 25px
			@media only screen and (max-width: 479px)
				transform: rotate(-16deg) translate(-27px, -8px)
				font-size: 17px	

		.icon
			transform: translate(-1px, 16px)
			@media only screen and (max-width: 1400px)
				width: 150px
			@media only screen and (max-width: 1199px)
				width: 80px	
			@media only screen and (max-width: 575px)
				width: 40px		

@media only screen and (max-width: 1300px)
	.itemPicture__part--inner
		width: 340px !important
@media only screen and (max-width: 1199px)
	.itemPicture__part--inner
		width: 265px !important
@media only screen and (max-width: 650px)
	.itemPicture__part--inner
		width: 40% !important

.floatPicture
	position: absolute
	top: 0
	&--sun
		left: 224px
		top: -147px
		@media only screen and (max-width: 1199px)
			width: 120px
			left: 0
			top: 0
		@media only screen and (max-width: 575px)
			width: 62px
			top: 38px	
	&--wine
		right: 0
		top: -142px
		@media only screen and (max-width: 1199px)
			width: 120px
			right: 0
			top: 0
		@media only screen and (max-width: 575px)
			width: 62px
			top: 38px


.sectionPicture__inform
	padding: 43px 0 50px 0
	color: #110c00
	text-align: center
	@media only screen and (max-width: 650px)
		padding: 20px 0
	&--top
		font-size: 36px
		@media only screen and (max-width: 767px)
			font-size: 25px
		@media only screen and (max-width: 479px)
			font-size: 13px
				
	&--bottom
		padding-top: 20px
		font-size: 25px
		text-transform: uppercase
		@media only screen and (max-width: 479px)
			font-size: 10px


/*** .modal ***/
.modal
	display: none
	position: absolute
	top: 0
	left: 50%
	transform: translateX(-50%)
	z-index: 5
	max-width: 800px
	margin-left: auto
	margin-right: auto
	background-image: url(../img/modal-bg.jpg)
	background-repeat: no-repeat
	overflow: hidden
	margin-top: 20px
	&.show
		display: block
	.priceWrapper
		transform: translate(52px, 75px)
		width: 250px
	.priceItem__left--icon
		width: 182px
	.priceItem .part--text
		font-size: 12px
		line-height: 12px
		width: 133px
		transform: translate(-32px, -6px)
	.priceItem .part--img 
		width: 82px
		transform: translate(-12px, -18px)
	.bottom--panel
		display: flex
		justify-content: flex-end
		transform: translate(12px, -49px)
		a
			position: relative
			z-index: 2
		&--icon
			transform: translate(-33px, -12px)	

.closeBtn
	position: absolute
	right: 3px
	top: 3px
	cursor: pointer
	z-index: 2


.item--left
	&-icon
		width: 195px
		transform: translate(46px, 35px)

.item--central
	padding-top: 87px
	margin-right: 25px
	transform: translate(-31px, 0)
	&-icon
		margin-top: 71px
		margin-left: 55px

.item--right
	&-icon
		flex-shrink: 0
		transform: translate(-87px, 47px)
		width: 281px
	

.modalWrapper
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex	

.conditionsWrapper
	display: flex
	margin-left: 28px

.conditionsItem
	position: relative
	width: 90px
	height: 90px
	text-align: center
	font-size: 7.5px
	color: #fff
	background-repeat: no-repeat
	background-position: 50%
	border-radius: 50%
	margin: 0 5px
	&__icon
		margin: 10px auto 8px auto
		width: 23px
	&__text
		width: 81%
		margin-left: auto
		margin-right: auto

	strong
		color: #000
	&:nth-child(1)
		background-image: url(../img/circle-1.png)
	&:nth-child(2)
		background-image: url(../img/circle-2.png)
	&:nth-child(3)
		background-image: url(../img/circle-3.png)		

.conditionsItem:nth-child(2)
	.conditionsItem__icon
		margin-bottom: 0
	.conditionsItem__text
		font-size: 7px	

@media only screen and (max-width: 785px)
	.modal
		background-size: cover
		background-position: 0px -175px
		padding-bottom: 50px
		&:after
			content: ''
			position: absolute
			left: 0	
			top: 50%
			background: #f7b115
			height: 50%
			width: 100%
		.bottom--panel
			transform: translate(0, 20px)
			justify-content: center
			position: relative
			z-index: 1
	.modalWrapper
		flex-wrap: wrap
		justify-content: center
		position: relative
		z-index: 1
	.item--central
		order: 1
		padding-top: 50px
		margin-right: 0
		transform: translate(0, 0)
	.item--right-icon
		transform: translate(0, 56px)
	.conditionsWrapper
		justify-content: center

	.modal .priceWrapper
		transform: translate(52px, 21px)
	.item--central-icon
		margin-top: 10px

	.conditionsWrapper
		margin-left: 0			

	.dk-mb
		display: flex
		align-items: center
	.item--left
		.priceWrapper
			display: none		

@media only screen and (min-width: 786px)	
	.dk-mb
		.priceWrapper
			display: none	
	
@media only screen and (max-width: 480px)
	.item--left-icon
		width: 100px
	.item--right-icon
		width: 165px
		transform: translate(12px, 57px)
	.item--central-icon
		margin-left: 25px	
	.modal .priceWrapper
		width: 130px
		transform: translate(42px, 21px)
	.bottom--panel--icon
		display: none
	.modal
		background-position: -52px -147px	
		.priceItem .part--img
			width: 54px
			transform: translate(-12px, 18px)
		.priceItem__left--icon
			max-width: 100%
			transform: translate(-22px, 18px)
		.priceItem .part--text
			max-width: 75%			
/*** End .modal ***/				