<div class="sectionTicket">
	<div class="containerMain">
		<div class="partWrapper">
			<div class="partLeft">
				<div class="part palmItem"><img src="img/palm.png" alt=""></div>
				<div class="part palmItem--mobile"><img src="img/palm_mobile.png" alt=""></div>
				<div class="part aircraftItem"><img src="img/aircraft.png" alt=""></div>
			</div>
			<div class="partCenter">
				<div class="part ticketItem"><img src="img/tickets.png" alt=""></div>
				<div class="part instaItem"><img src="img/instaChellendzh.png" alt=""></div>
			</div>
			<div class="partRight">
				<div class="part suitcase"><img src="img/suitcase-group.png" alt=""></div>
				<div class="part starItem"><img src="img/star-see.png" alt=""></div>
			</div>
			<div class="part starItem--mobile"><img src="img/star-see.png" alt=""></div>
		</div>
	</div>
</div>
<div class="sectionRegulations">
	<div class="containerMain">
		<div class="floatItem floatItem--left"><img src="img/slates.png" alt=""></div>
		<div class="floatItem floatItem--right"><img src="img/palm-items.png" alt=""></div>
		<div class="floatItem floatItem--center desktop"><img src="img/way.png" alt=""></div>
		<div class="floatItem floatItem--center mobile"><img src="img/way--mobile.png" alt=""></div>

		<div class="regulationWrapper">
			<div class="regulationItem">
				<div class="regulationItem__icon"><img src="img/camera.png" alt=""></div>
				<div class="regulationItem__txt">Сделай фото, как ты помещаешься (или пытаешься поместиться) в чемодан</div>
			</div>
			<div class="regulationItem">
				<div class="regulationItem__icon"><img src="img/cards.png" alt=""></div>
				<div class="regulationItem__txt">
					Размести это фото на своей страничке в instagram с
					<strong><br>#слобода <br> #влезьвчемодан <br></strong>
					Не забудь открыть свою страничку
				</div>
			</div>

			<div class="regulationItem">
				<div class="regulationItem__icon"><img src="img/price.png" alt=""></div>
				<div class="regulationItem__txt">
					Выигрывай ПРИЗЫ от ТМ «Слобода»!!!
					<br>
					<a href="#">Полные правила</a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="sectionPrize">
	<div class="containerMain">
		<div class="priceWrapper">

			<div class="priceItem price--mobile"><img src="img/rules.png" alt=""></div>

			<div class="priceItem priceItem__left">

				<div class="priceItem__left--icon"><img src="img/prize.png" alt=""></div>

				<div class="priceItem__left--text">
					<div class="part part--img"><img src="img/swimsuit.png" alt=""></div>
					<div class="part part--text">
						3 СЕРТИФИКАТА <br> НА СУММУ<strong> 4000 руб. </strong> <br> от <a href="#"><strong>Lamoda</strong></a> <br> НА ПОКУПКУ МОДНОГО КУПАЛЬНИКА
					</div>
				</div>

			</div>

			<div class="priceItem priceItem__right">
				<div class="priceItem__right--icon"><img src="img/mainPrize.png" alt=""></div>
				<div class="priceItem__right--text">
					<p>Смотри победителей каждую неделю на </p>
					<p><a href="#"><strong>@sloboda_russia</strong></a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sectionPicture">
	<div class="containerMain">
		<div class="floatPicture floatPicture--sun"><img src="img/sun.png" alt=""></div>
		<div class="floatPicture floatPicture--wine"><img src="img/wineglass.png" alt=""></div>
		<div class="itemPictureWrapper">
			<div class="itemPicture">
				<div class="itemPicture__part">
					<div class="itemPicture__part--inner">
						<img src="img/picture-1.png" alt="">
					</div>
					<div class="itemPicture__part--inner">
						<img src="img/picture-2.png" alt="">
					</div>
				</div>
				<div class="itemPicture__part--bottom">
					<span>#слобода</span>
					<div class="icon"><img src="img/mask.png" alt=""></div>
				</div>
			</div>
			<div class="itemPicture">
				<div class="itemPicture__part">
					<div class="itemPicture__part--inner">
						<img src="img/picture-3.png" alt="">
					</div>
					<div class="itemPicture__part--inner">
						<img src="img/picture-4.png" alt="">
					</div>
				</div>
				<div class="itemPicture__part--bottom">
					<span>#влезьвчемодан</span>
					<div class="icon"><img src="img/sharp.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="sectionPicture__inform">
			<div class="sectionPicture__inform--top"><strong>ВЫИГРЫВАЙ ПРИЗЫ ОТ ТМ «СЛОБОДА»!</strong></div>
			<div class="sectionPicture__inform--bottom"><a href="#"><strong>Полные правила конкурса</strong></a></div>
		</div>

	</div>
</div>

<div class="modal">
	<div class="closeBtn"><img src="img/closeBtn.png" alt=""></div>
	<div class="modalWrapper">
		<div class="item item--left">
			<div class="item--left-icon"><img src="img/tickets.png" alt=""></div>
			<div class="priceWrapper">
				<div class="priceItem price--mobile"><img src="img/rules.png" alt=""></div>
				<div class="priceItem priceItem__left">
					<div class="priceItem__left--icon"><img src="img/prize.png" alt=""></div>
					<div class="priceItem__left--text">
						<div class="part part--img"><img src="img/swimsuit.png" alt=""></div>
						<div class="part part--text">
							3 СЕРТИФИКАТА <br> НА СУММУ<strong> 4000 руб. </strong> <br> от <a href="#"><strong>Lamoda</strong></a> <br> НА ПОКУПКУ МОДНОГО КУПАЛЬНИКА
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item item--central">
			<div class="conditionsWrapper">
				<div class="conditionsItem">
					<div class="conditionsItem__icon"><img src="img/camera-white.png" alt=""></div>
					<div class="conditionsItem__text">Сделай фото, как ты помещаешься  в чемодан</div>
				</div>
				<div class="conditionsItem">
					<div class="conditionsItem__icon"><img src="img/frame-white.png" alt=""></div>
					<div class="conditionsItem__text">Разместифото instagram с хэштегами <br> <strong>#слобода #влезьвчемодан</strong></div>
				</div>
				<div class="conditionsItem">
					<div class="conditionsItem__icon"><img src="img/prize-white.png" alt=""></div>
					<div class="conditionsItem__text">Выигрывай ПРИЗЫ от ТМ «Слобода»!!!</div>
				</div>
			</div>
			<div class="dk-mb">
				<div class="priceWrapper">
					<div class="priceItem priceItem__left">
						<div class="priceItem__left--icon"><img src="img/prize.png" alt=""></div>
						<div class="priceItem__left--text">
							<div class="part part--img"><img src="img/swimsuit.png" alt=""></div>
							<div class="part part--text">
								3 СЕРТИФИКАТА <br> НА СУММУ<strong> 4000 руб. </strong> <br> от <a href="#"><strong>Lamoda</strong></a> <br> НА ПОКУПКУ МОДНОГО КУПАЛЬНИКА
							</div>
						</div>
					</div>
				</div>
				<div class="item--central-icon"><img src="img/modal-price.png" alt=""></div>
			</div>
		</div>
		<div class="item item--right">
			<div class="item--right-icon"><img src="img/modal-suitcase.png" alt=""></div>
		</div>
	</div>
	<div class="bottom--panel">
		<a href="#" class="link"><img src="img/more-link.png" alt=""></a>
		<div class="bottom--panel--icon"><img src="img/star-see-white.png" alt=""></div>
	</div>
</div>

<div class="overlay"></div>