@font-face {
  font-family: "CenturyGothic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/CenturyGothic/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic/CenturyGothic.ttf") format("truetype"); }

@font-face {
  font-family: "MyriadPro";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/MyriadPro-BoldIt/MyriadPro-BoldIt.eot");
  src: url("../fonts/MyriadPro-BoldIt/MyriadPro-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-BoldIt/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro-BoldIt/MyriadPro-BoldIt.ttf") format("truetype"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/UbuntuLight/Ubuntu-Light.eot");
  src: url("../fonts/UbuntuLight/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/Ubuntu-Light.woff") format("woff"), url("../fonts/UbuntuLight/Ubuntu-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Ubuntu";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype"); }
