html, body {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  font-size: 13px;
  line-height: normal;
  font-family: "Ubuntu", sans-serif;
  color: #000; }

body.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
    color: #000; }

.posLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

img {
  height: auto;
  max-width: 100%;
  border: none; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 2; }
  .overlay.show {
    display: block; }

/*________ pageMain ________*/
.sectionTicket {
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  overflow: hidden; }
  @media only screen and (min-width: 1200px) {
    .sectionTicket {
      padding-bottom: 140px;
      margin-bottom: -155px; } }
  @media only screen and (max-width: 991px) {
    .sectionTicket {
      background-position: 50% 63%; } }
  @media only screen and (max-width: 767px) {
    .sectionTicket {
      height: 400px;
      background-position: 0;
      background-size: cover; } }
  @media only screen and (max-width: 650px) {
    .sectionTicket {
      background-position: -193px 0; } }

.containerMain {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto; }

.partWrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 991px) {
    .partWrapper {
      height: 500px; } }
  @media only screen and (max-width: 575px) {
    .partWrapper {
      height: 334px; } }

.partLeft,
.partCenter,
.partRight {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  z-index: 1; }

.palmItem {
  padding-top: 100px; }
  @media only screen and (max-width: 1199px) {
    .palmItem {
      padding-top: 50px; } }
  @media only screen and (max-width: 991px) {
    .palmItem {
      width: 130px; } }
  @media only screen and (max-width: 767px) {
    .palmItem {
      display: none; } }
  @media only screen and (min-width: 768px) {
    .palmItem--mobile {
      display: none; } }
  @media only screen and (max-width: 767px) {
    .palmItem--mobile {
      -webkit-transform: translateY(53px);
          -ms-transform: translateY(53px);
              transform: translateY(53px); } }

.aircraftItem {
  padding-top: 66px; }
  @media only screen and (max-width: 1440px) {
    .aircraftItem {
      padding-top: 100px; } }
  @media only screen and (max-width: 1199px) {
    .aircraftItem {
      -webkit-transform: translate(10px, 15px);
          -ms-transform: translate(10px, 15px);
              transform: translate(10px, 15px); } }
  @media only screen and (max-width: 991px) {
    .aircraftItem {
      -webkit-transform: translate(-9px, 86px);
          -ms-transform: translate(-9px, 86px);
              transform: translate(-9px, 86px);
      width: 70px; } }
  @media only screen and (max-width: 767px) {
    .aircraftItem {
      padding-top: 0;
      -webkit-transform: translate(-9px, 115px);
          -ms-transform: translate(-9px, 115px);
              transform: translate(-9px, 115px); } }

@media only screen and (max-width: 1440px) {
  .partLeft {
    width: 19%; } }

@media only screen and (max-width: 1440px) {
  .partLeft {
    width: auto; } }

.partCenter {
  -webkit-transform: translate(-22px, 36px);
      -ms-transform: translate(-22px, 36px);
          transform: translate(-22px, 36px); }
  @media only screen and (max-width: 1440px) {
    .partCenter {
      width: 28%;
      -webkit-transform: translate(18px, 95px);
          -ms-transform: translate(18px, 95px);
              transform: translate(18px, 95px); } }
  @media only screen and (max-width: 767px) {
    .partCenter {
      width: 165px;
      -webkit-transform: translate(18px, 41px);
          -ms-transform: translate(18px, 41px);
              transform: translate(18px, 41px); } }

.instaItem {
  position: relative;
  -webkit-transform: translate(29px, -11px);
      -ms-transform: translate(29px, -11px);
          transform: translate(29px, -11px);
  z-index: 2; }
  @media only screen and (max-width: 767px) {
    .instaItem {
      -webkit-transform: translate(4px, 0px);
          -ms-transform: translate(4px, 0px);
              transform: translate(4px, 0px);
      width: 190px; } }
  @media only screen and (max-width: 420px) {
    .instaItem {
      -webkit-transform: translate(-16px, 29px);
          -ms-transform: translate(-16px, 29px);
              transform: translate(-16px, 29px); } }

.partRight {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transform: translate(45px, 37px);
      -ms-transform: translate(45px, 37px);
          transform: translate(45px, 37px); }
  @media only screen and (max-width: 991px) {
    .partRight {
      width: 58%; } }
  @media only screen and (max-width: 575px) {
    .partRight {
      position: absolute;
      right: -27px;
      width: 245px;
      -webkit-transform: translate(0);
          -ms-transform: translate(0);
              transform: translate(0);
      top: 13%; } }
  @media only screen and (max-width: 420px) {
    .partRight {
      top: 23%; } }

.starItem {
  -webkit-transform: translate(134px, -36px);
      -ms-transform: translate(134px, -36px);
          transform: translate(134px, -36px); }
  @media only screen and (min-width: 576px) {
    .starItem--mobile {
      display: none; } }
  @media only screen and (max-width: 575px) {
    .starItem--mobile {
      width: 80px;
      position: absolute;
      right: 0;
      bottom: -22px;
      z-index: 2; } }
  @media only screen and (max-width: 575px) {
    .starItem {
      display: none; } }
  @media only screen and (max-width: 1199px) {
    .starItem {
      -webkit-transform: translate(134px, -32px);
          -ms-transform: translate(134px, -32px);
              transform: translate(134px, -32px); } }
  @media only screen and (max-width: 991px) {
    .starItem {
      width: 95px;
      -webkit-transform: translate(134px, 11px);
          -ms-transform: translate(134px, 11px);
              transform: translate(134px, 11px); } }
  @media only screen and (max-width: 991px) {
    .starItem {
      -webkit-transform: translate(134px, -52px);
          -ms-transform: translate(134px, -52px);
              transform: translate(134px, -52px); } }
  @media only screen and (max-width: 767px) {
    .starItem {
      -webkit-transform: translate(144px, -55px);
          -ms-transform: translate(144px, -55px);
              transform: translate(144px, -55px); } }

.suitcase {
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 575px) {
    .suitcase {
      -webkit-transform: translate(0px, -17px);
          -ms-transform: translate(0px, -17px);
              transform: translate(0px, -17px);
      width: 260px; } }
  @media only screen and (max-width: 420px) {
    .suitcase {
      position: absolute;
      right: 0;
      -webkit-transform: translate(0px, 0);
          -ms-transform: translate(0px, 0);
              transform: translate(0px, 0);
      width: 175px; } }

@media only screen and (max-width: 650px) {
  .ticketItem {
    -webkit-transform: translate(-85px, -26px);
        -ms-transform: translate(-85px, -26px);
            transform: translate(-85px, -26px); } }

/*** sectionRegulations ***/
.regulationWrapper {
  font-size: 29px;
  color: #000;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .regulationWrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media only screen and (min-width: 1200px) {
    .regulationWrapper {
      padding-left: 50px; } }
  @media only screen and (max-width: 1199px) {
    .regulationWrapper {
      font-size: 25px; } }
  @media only screen and (max-width: 991px) {
    .regulationWrapper {
      font-size: 23px; } }
  @media only screen and (max-width: 767px) {
    .regulationWrapper {
      font-size: 20px; } }
  @media only screen and (max-width: 650px) {
    .regulationWrapper {
      font-size: 15px; } }
  .regulationWrapper a, .regulationWrapper strong {
    color: #009adc; }
  .regulationWrapper a {
    border-bottom: solid 1px #009adc;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .regulationWrapper a:hover {
      border-bottom: none; }

.regulationItem {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .regulationItem {
      padding-bottom: 25px; } }
  .regulationItem:before {
    content: '';
    position: absolute;
    right: 0;
    background-repeat: repeat-y; }
    @media only screen and (max-width: 767px) {
      .regulationItem:before {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .regulationItem:first-child {
      max-width: 34%; } }
  .regulationItem:first-child:before {
    right: -22px;
    bottom: -57px;
    width: 28px;
    height: -webkit-calc(100% + 94px);
    height: calc(100% + 94px);
    background-image: url(../img/line-1-1.png); }
    @media only screen and (max-width: 1199px) {
      .regulationItem:first-child:before {
        top: -145px;
        height: -webkit-calc(100% + 191px);
        height: calc(100% + 191px); } }
    @media only screen and (max-width: 767px) {
      .regulationItem:first-child:before {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .regulationItem:nth-child(2) {
      width: 74%; } }
  @media only screen and (max-width: 1199px) {
    .regulationItem:nth-child(2) {
      width: 52%; } }
  @media only screen and (max-width: 767px) {
    .regulationItem:nth-child(2) {
      width: 100%; } }
  .regulationItem:nth-child(2):before {
    width: 36px;
    height: -webkit-calc(100% + 161px);
    height: calc(100% + 161px);
    bottom: -45px;
    right: -11px;
    background-image: url(../img/line-2-1.png); }
    @media only screen and (max-width: 1199px) {
      .regulationItem:nth-child(2):before {
        height: -webkit-calc(100% + 212px);
        height: calc(100% + 212px); } }
    @media only screen and (max-width: 991px) {
      .regulationItem:nth-child(2):before {
        height: -webkit-calc(100% + 163px);
        height: calc(100% + 163px); } }
    @media only screen and (max-width: 767px) {
      .regulationItem:nth-child(2):before {
        display: none; } }
  .regulationItem__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 27px; }
    @media only screen and (max-width: 767px) {
      .regulationItem__icon {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 575px) {
      .regulationItem__icon {
        width: 75px;
        margin-left: auto;
        margin-right: auto; } }
  .regulationItem__txt {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 33px; }
    @media only screen and (max-width: 767px) {
      .regulationItem__txt {
        max-width: 250px;
        line-height: 22px; } }
    @media only screen and (max-width: 575px) {
      .regulationItem__txt {
        max-width: 143px; } }

.regulationItem {
  margin-top: 10px; }
  @media only screen and (max-width: 767px) {
    .regulationItem:after {
      content: '';
      position: absolute;
      background-image: url(../img/line-1-1-mobile.png);
      height: 27px;
      width: 100%;
      bottom: -10px;
      left: 0; } }

@media only screen and (max-width: 767px) {
  .regulationWrapper {
    padding: 0 8px; }
    .regulationWrapper:after, .regulationWrapper:before {
      content: '';
      position: absolute;
      background-image: url(../img/line-2-1-mobile.png);
      background-repeat: repeat;
      height: 100%;
      width: 8px;
      bottom: 0; }
    .regulationWrapper:before {
      left: 3px; }
    .regulationWrapper:after {
      right: 3px; } }

.sectionRegulations {
  position: relative;
  padding-bottom: 89px; }
  @media only screen and (max-width: 767px) {
    .sectionRegulations {
      margin-top: -85px; } }
  @media only screen and (max-width: 575px) {
    .sectionRegulations {
      padding-bottom: 50px; } }
  @media only screen and (min-width: 768px) {
    .sectionRegulations:before {
      content: '';
      width: 100%;
      height: 47px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url(../img/line-3.png);
      background-repeat: no-repeat; } }
  .sectionRegulations .containerMain {
    position: relative; }

.floatItem {
  position: absolute; }
  .floatItem--left {
    bottom: -51px;
    left: 0; }
    @media only screen and (max-width: 767px) {
      .floatItem--left {
        bottom: inherit;
        top: 82px;
        left: 9px; } }
    @media only screen and (max-width: 650px) {
      .floatItem--left {
        width: 100px;
        top: 101px; } }
    @media only screen and (max-width: 575px) {
      .floatItem--left {
        top: 143px;
        left: 9px;
        width: 67px; } }
  .floatItem--right {
    bottom: -51px;
    right: 0;
    width: 180px; }
    @media only screen and (min-width: 1355px) {
      .floatItem--right {
        right: -41px; } }
    @media only screen and (max-width: 650px) {
      .floatItem--right {
        bottom: 0;
        right: 13px;
        width: 100px; } }
  .floatItem--center {
    bottom: -264px;
    right: 179px; }
    @media only screen and (max-width: 991px) {
      .floatItem--center {
        right: 18%; } }
    @media only screen and (min-width: 768px) {
      .floatItem--center.mobile {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .floatItem--center {
        right: inherit;
        width: 191px;
        bottom: -45px; }
        .floatItem--center.desktop {
          display: none; }
        .floatItem--center.mobile {
          display: block; } }

.sectionPrize {
  padding-top: 56px;
  padding-left: 28px; }
  @media only screen and (max-width: 991px) {
    .sectionPrize {
      padding-top: 95px; } }
  @media only screen and (max-width: 767px) {
    .sectionPrize {
      padding-top: 0;
      padding-left: 0; } }

.priceWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 991px) {
    .priceWrapper {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

.priceItem {
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 767px) {
    .priceItem {
      margin-bottom: 20px; } }
  .priceItem__left--text {
    font-size: 30px;
    color: #000;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 39px;
    -webkit-transform: translate(-44px, 3px);
        -ms-transform: translate(-44px, 3px);
            transform: translate(-44px, 3px);
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .priceItem__left--text {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0); } }
  @media only screen and (max-width: 576px) {
    .priceItem__left--icon {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto; } }
  .priceItem .part--img {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-transform: translate(32px, -34px);
        -ms-transform: translate(32px, -34px);
            transform: translate(32px, -34px);
    max-width: 235px; }
    @media only screen and (max-width: 991px) {
      .priceItem .part--img {
        width: 280px;
        -webkit-transform: translate(32px, 4px);
            -ms-transform: translate(32px, 4px);
                transform: translate(32px, 4px); } }
    @media only screen and (max-width: 576px) {
      .priceItem .part--img {
        width: 108px; } }
  .priceItem .part--text {
    max-width: 250px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    line-height: 32px;
    font-weight: 100;
    font-size: 25px; }
    .priceItem .part--text p {
      margin: 0; }
    @media only screen and (max-width: 991px) {
      .priceItem .part--text {
        font-size: 20px;
        max-width: 100%;
        width: 200px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; } }
    @media only screen and (max-width: 767px) {
      .priceItem .part--text {
        width: 250px; } }
    @media only screen and (max-width: 650px) {
      .priceItem .part--text {
        font-size: 18px;
        line-height: 22px;
        margin-top: 20px; } }
    @media only screen and (max-width: 650px) {
      .priceItem .part--text {
        max-width: 64%; } }
  .priceItem__right--text {
    font-size: 28px;
    color: #000;
    padding: 28px 27px 0 27px;
    -webkit-transform: translate(-2px, -46px);
        -ms-transform: translate(-2px, -46px);
            transform: translate(-2px, -46px); }
    .priceItem__right--text a {
      color: #009adc; }
  .priceItem__right--icon {
    -webkit-transform: translate(-17px, -14px);
        -ms-transform: translate(-17px, -14px);
            transform: translate(-17px, -14px); }
    @media only screen and (max-width: 575px) {
      .priceItem__right--icon {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0); } }
  .priceItem__right--text p {
    margin: 0; }
    .priceItem__right--text p:nth-child(2) {
      text-align: right;
      margin-right: 15%;
      margin-top: 3px; }

@media only screen and (max-width: 1199px) {
  .priceItem {
    width: 48%; } }

.priceItem__left--text {
  font-size: 25px;
  line-height: normal; }
  @media only screen and (max-width: 576px) {
    .priceItem__left--text {
      font-size: 19px;
      margin-left: 0; } }
  @media only screen and (max-width: 479px) {
    .priceItem__left--text {
      font-size: 14px; } }

.priceItem__right--text {
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .priceItem__right--text {
      padding-left: 0;
      padding-right: 0;
      padding-top: 35px;
      font-size: 19px; } }
  @media only screen and (max-width: 575px) {
    .priceItem__right--text {
      font-size: 14px;
      -webkit-transform: translate(0);
          -ms-transform: translate(0);
              transform: translate(0);
      padding-top: 10px; } }

@media only screen and (max-width: 991px) {
  .priceItem {
    width: 38%; } }

@media only screen and (max-width: 767px) {
  .priceItem {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; } }

@media only screen and (min-width: 575px) {
  .price--mobile {
    display: none; } }

.sectionPicture {
  background-image: url(../img/bg-picture.png);
  background-repeat: no-repeat;
  background-position: 45% 64px;
  background-size: cover;
  padding-top: 77px; }
  @media only screen and (max-width: 1199px) {
    .sectionPicture {
      background-size: cover;
      background-position: 50% 50%; } }
  @media only screen and (max-width: 1199px) {
    .sectionPicture {
      padding-top: 0px; } }
  .sectionPicture .containerMain {
    position: relative;
    padding-top: 80px; }

.itemPictureWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 1199px) {
    .itemPictureWrapper {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media only screen and (max-width: 1400px) {
  .itemPicture {
    width: 40%; } }

@media only screen and (max-width: 1199px) {
  .itemPicture {
    width: auto; } }

@media only screen and (min-width: 1401px) {
  .itemPicture {
    width: 50%; } }

.itemPicture__part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .itemPicture__part {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .itemPicture__part--inner {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }

.itemPicture:first-child .itemPicture__part--inner:first-child {
  -webkit-transform: translate(2px, -16px);
      -ms-transform: translate(2px, -16px);
          transform: translate(2px, -16px);
  width: 395px; }

.itemPicture:first-child .itemPicture__part--inner:last-child {
  -webkit-transform: translate(-124px, 3px);
      -ms-transform: translate(-124px, 3px);
          transform: translate(-124px, 3px); }
  @media only screen and (max-width: 1199px) {
    .itemPicture:first-child .itemPicture__part--inner:last-child {
      -webkit-transform: translate(-40px, -21px);
          -ms-transform: translate(-40px, -21px);
              transform: translate(-40px, -21px); } }
  @media only screen and (max-width: 575px) {
    .itemPicture:first-child .itemPicture__part--inner:last-child {
      -webkit-transform: translate(-1px, -20px);
          -ms-transform: translate(-1px, -20px);
              transform: translate(-1px, -20px); } }

@media only screen and (min-width: 1200px) {
  .itemPicture:last-child {
    -webkit-transform: translate(80px, 0);
        -ms-transform: translate(80px, 0);
            transform: translate(80px, 0); } }

.itemPicture .itemPicture__part--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 1199px) {
    .itemPicture .itemPicture__part--bottom {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transform: translate(0, -45px);
          -ms-transform: translate(0, -45px);
              transform: translate(0, -45px); } }
  .itemPicture .itemPicture__part--bottom .icon {
    -webkit-transform: translate(25px, 0px);
        -ms-transform: translate(25px, 0px);
            transform: translate(25px, 0px); }
    @media only screen and (max-width: 1199px) {
      .itemPicture .itemPicture__part--bottom .icon {
        width: 118px; } }
    @media only screen and (max-width: 479px) {
      .itemPicture .itemPicture__part--bottom .icon {
        width: 80px; } }
  .itemPicture .itemPicture__part--bottom span {
    font-size: 58px;
    color: #fff;
    -webkit-transform: rotate(-16deg) translate(-5px, 63px);
        -ms-transform: rotate(-16deg) translate(-5px, 63px);
            transform: rotate(-16deg) translate(-5px, 63px);
    display: inline-block; }
    @media only screen and (max-width: 1199px) {
      .itemPicture .itemPicture__part--bottom span {
        font-size: 26px; } }
    @media only screen and (max-width: 479px) {
      .itemPicture .itemPicture__part--bottom span {
        font-size: 17px; } }

.itemPicture:last-child .itemPicture__part--inner:first-child {
  -webkit-transform: translate(-57px, -32px);
      -ms-transform: translate(-57px, -32px);
          transform: translate(-57px, -32px); }
  @media only screen and (max-width: 1199px) {
    .itemPicture:last-child .itemPicture__part--inner:first-child {
      -webkit-transform: rotate(-18deg) translate(0px, -17px);
          -ms-transform: rotate(-18deg) translate(0px, -17px);
              transform: rotate(-18deg) translate(0px, -17px); } }

.itemPicture:last-child .itemPicture__part--inner:last-child {
  -webkit-transform: translate(-100px, 1px);
      -ms-transform: translate(-100px, 1px);
          transform: translate(-100px, 1px); }
  @media only screen and (max-width: 1199px) {
    .itemPicture:last-child .itemPicture__part--inner:last-child {
      -webkit-transform: rotate(12deg) translate(-32px, -43px);
          -ms-transform: rotate(12deg) translate(-32px, -43px);
              transform: rotate(12deg) translate(-32px, -43px); } }
  @media only screen and (max-width: 575px) {
    .itemPicture:last-child .itemPicture__part--inner:last-child {
      -webkit-transform: rotate(12deg) translate(-8px, -26px);
          -ms-transform: rotate(12deg) translate(-8px, -26px);
              transform: rotate(12deg) translate(-8px, -26px); } }

.itemPicture:last-child .itemPicture__part--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media only screen and (max-width: 1199px) {
    .itemPicture:last-child .itemPicture__part--bottom {
      padding-top: 5px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .itemPicture:last-child .itemPicture__part--bottom span {
    -webkit-transform: rotate(10deg) translate(17px, -66px);
        -ms-transform: rotate(10deg) translate(17px, -66px);
            transform: rotate(10deg) translate(17px, -66px);
    color: #fff;
    font-size: 37px; }
    @media only screen and (max-width: 1199px) {
      .itemPicture:last-child .itemPicture__part--bottom span {
        -webkit-transform: rotate(-16deg) translate(-64px, -37px);
            -ms-transform: rotate(-16deg) translate(-64px, -37px);
                transform: rotate(-16deg) translate(-64px, -37px);
        font-size: 26px; } }
    @media only screen and (max-width: 650px) {
      .itemPicture:last-child .itemPicture__part--bottom span {
        -webkit-transform: rotate(-16deg) translate(-60px, 1px);
            -ms-transform: rotate(-16deg) translate(-60px, 1px);
                transform: rotate(-16deg) translate(-60px, 1px);
        font-size: 25px; } }
    @media only screen and (max-width: 479px) {
      .itemPicture:last-child .itemPicture__part--bottom span {
        -webkit-transform: rotate(-16deg) translate(-27px, -8px);
            -ms-transform: rotate(-16deg) translate(-27px, -8px);
                transform: rotate(-16deg) translate(-27px, -8px);
        font-size: 17px; } }
  .itemPicture:last-child .itemPicture__part--bottom .icon {
    -webkit-transform: translate(-1px, 16px);
        -ms-transform: translate(-1px, 16px);
            transform: translate(-1px, 16px); }
    @media only screen and (max-width: 1400px) {
      .itemPicture:last-child .itemPicture__part--bottom .icon {
        width: 150px; } }
    @media only screen and (max-width: 1199px) {
      .itemPicture:last-child .itemPicture__part--bottom .icon {
        width: 80px; } }
    @media only screen and (max-width: 575px) {
      .itemPicture:last-child .itemPicture__part--bottom .icon {
        width: 40px; } }

@media only screen and (max-width: 1300px) {
  .itemPicture__part--inner {
    width: 340px !important; } }

@media only screen and (max-width: 1199px) {
  .itemPicture__part--inner {
    width: 265px !important; } }

@media only screen and (max-width: 650px) {
  .itemPicture__part--inner {
    width: 40% !important; } }

.floatPicture {
  position: absolute;
  top: 0; }
  .floatPicture--sun {
    left: 224px;
    top: -147px; }
    @media only screen and (max-width: 1199px) {
      .floatPicture--sun {
        width: 120px;
        left: 0;
        top: 0; } }
    @media only screen and (max-width: 575px) {
      .floatPicture--sun {
        width: 62px;
        top: 38px; } }
  .floatPicture--wine {
    right: 0;
    top: -142px; }
    @media only screen and (max-width: 1199px) {
      .floatPicture--wine {
        width: 120px;
        right: 0;
        top: 0; } }
    @media only screen and (max-width: 575px) {
      .floatPicture--wine {
        width: 62px;
        top: 38px; } }

.sectionPicture__inform {
  padding: 43px 0 50px 0;
  color: #110c00;
  text-align: center; }
  @media only screen and (max-width: 650px) {
    .sectionPicture__inform {
      padding: 20px 0; } }
  .sectionPicture__inform--top {
    font-size: 36px; }
    @media only screen and (max-width: 767px) {
      .sectionPicture__inform--top {
        font-size: 25px; } }
    @media only screen and (max-width: 479px) {
      .sectionPicture__inform--top {
        font-size: 13px; } }
  .sectionPicture__inform--bottom {
    padding-top: 20px;
    font-size: 25px;
    text-transform: uppercase; }
    @media only screen and (max-width: 479px) {
      .sectionPicture__inform--bottom {
        font-size: 10px; } }

/*** .modal ***/
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/modal-bg.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: 20px; }
  .modal.show {
    display: block; }
  .modal .priceWrapper {
    -webkit-transform: translate(52px, 75px);
        -ms-transform: translate(52px, 75px);
            transform: translate(52px, 75px);
    width: 250px; }
  .modal .priceItem__left--icon {
    width: 182px; }
  .modal .priceItem .part--text {
    font-size: 12px;
    line-height: 12px;
    width: 133px;
    -webkit-transform: translate(-32px, -6px);
        -ms-transform: translate(-32px, -6px);
            transform: translate(-32px, -6px); }
  .modal .priceItem .part--img {
    width: 82px;
    -webkit-transform: translate(-12px, -18px);
        -ms-transform: translate(-12px, -18px);
            transform: translate(-12px, -18px); }
  .modal .bottom--panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transform: translate(12px, -49px);
        -ms-transform: translate(12px, -49px);
            transform: translate(12px, -49px); }
    .modal .bottom--panel a {
      position: relative;
      z-index: 2; }
    .modal .bottom--panel--icon {
      -webkit-transform: translate(-33px, -12px);
          -ms-transform: translate(-33px, -12px);
              transform: translate(-33px, -12px); }

.closeBtn {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  z-index: 2; }

.item--left-icon {
  width: 195px;
  -webkit-transform: translate(46px, 35px);
      -ms-transform: translate(46px, 35px);
          transform: translate(46px, 35px); }

.item--central {
  padding-top: 87px;
  margin-right: 25px;
  -webkit-transform: translate(-31px, 0);
      -ms-transform: translate(-31px, 0);
          transform: translate(-31px, 0); }
  .item--central-icon {
    margin-top: 71px;
    margin-left: 55px; }

.item--right-icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transform: translate(-87px, 47px);
      -ms-transform: translate(-87px, 47px);
          transform: translate(-87px, 47px);
  width: 281px; }

.modalWrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.conditionsWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 28px; }

.conditionsItem {
  position: relative;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 7.5px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 5px; }
  .conditionsItem__icon {
    margin: 10px auto 8px auto;
    width: 23px; }
  .conditionsItem__text {
    width: 81%;
    margin-left: auto;
    margin-right: auto; }
  .conditionsItem strong {
    color: #000; }
  .conditionsItem:nth-child(1) {
    background-image: url(../img/circle-1.png); }
  .conditionsItem:nth-child(2) {
    background-image: url(../img/circle-2.png); }
  .conditionsItem:nth-child(3) {
    background-image: url(../img/circle-3.png); }

.conditionsItem:nth-child(2) .conditionsItem__icon {
  margin-bottom: 0; }

.conditionsItem:nth-child(2) .conditionsItem__text {
  font-size: 7px; }

@media only screen and (max-width: 785px) {
  .modal {
    background-size: cover;
    background-position: 0px -175px;
    padding-bottom: 50px; }
    .modal:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      background: #f7b115;
      height: 50%;
      width: 100%; }
    .modal .bottom--panel {
      -webkit-transform: translate(0, 20px);
          -ms-transform: translate(0, 20px);
              transform: translate(0, 20px);
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      z-index: 1; }
  .modalWrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 1; }
  .item--central {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 50px;
    margin-right: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
  .item--right-icon {
    -webkit-transform: translate(0, 56px);
        -ms-transform: translate(0, 56px);
            transform: translate(0, 56px); }
  .conditionsWrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .modal .priceWrapper {
    -webkit-transform: translate(52px, 21px);
        -ms-transform: translate(52px, 21px);
            transform: translate(52px, 21px); }
  .item--central-icon {
    margin-top: 10px; }
  .conditionsWrapper {
    margin-left: 0; }
  .dk-mb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .item--left .priceWrapper {
    display: none; } }

@media only screen and (min-width: 786px) {
  .dk-mb .priceWrapper {
    display: none; } }

@media only screen and (max-width: 480px) {
  .item--left-icon {
    width: 100px; }
  .item--right-icon {
    width: 165px;
    -webkit-transform: translate(12px, 57px);
        -ms-transform: translate(12px, 57px);
            transform: translate(12px, 57px); }
  .item--central-icon {
    margin-left: 25px; }
  .modal .priceWrapper {
    width: 130px;
    -webkit-transform: translate(42px, 21px);
        -ms-transform: translate(42px, 21px);
            transform: translate(42px, 21px); }
  .bottom--panel--icon {
    display: none; }
  .modal {
    background-position: -52px -147px; }
    .modal .priceItem .part--img {
      width: 54px;
      -webkit-transform: translate(-12px, 18px);
          -ms-transform: translate(-12px, 18px);
              transform: translate(-12px, 18px); }
    .modal .priceItem__left--icon {
      max-width: 100%;
      -webkit-transform: translate(-22px, 18px);
          -ms-transform: translate(-22px, 18px);
              transform: translate(-22px, 18px); }
    .modal .priceItem .part--text {
      max-width: 75%; } }

/*** End .modal ***/
/*________ End pageMain ________*/
