
<!-- .wallets -->
<section class="wallets">

	<!-- .container -->
	<div class="container">

		<div class="tabs">

			<div class="tabs__item"  tabs__item_active" data-tab=".tabContent_eth">
				<i class="icon-eth"></i> Ethereum
			</div>

			<div class="tabs__item" data-tab=".tabContent_btc">
				<i class="icon-bit"></i> Bitcoin
			</div>

			<div class="tabs__item" data-tab=".tabContent_ltc">
				<i class="icon-lit"></i> Litecoin
			</div>

			<div class="tabs__item" data-tab=".tabContent_eos">
				<i class="icon-eos"></i> EOS
			</div>

			<div class="tabs__item" data-tab=".tabContent_bitcc">
				<i class="icon-bitcc"></i> Bitcoin Cash
			</div>
		</div>

	</div><!-- End .container -->



	<!-- .tabContent -->
	<div class="wallets__tabContent tabContent tabContent_active tabContent_eth">
		<!-- .container -->
		<div class="container wallets__container">

			<div class="wallets__section wallets__section_buy">

				<h2 class="wallets__title_buy">
					<i class="icon-buy"></i>Buy #MHC for ETH
				</h2>

				<div class="wallets__description_buy">
					Personal wallets in different currencies were created for you. All funds sent to these addresses will be funded to your account.
				</div>

				<div class="accountInfoCard">
					<div class="accountInfoCard__content">
						<h5 class="accountInfoCard__title">
							Your personal ETH account
						</h5>
						<div class="accountInfoCard__data">
							0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe
						</div>
					</div>
					<div class="accountInfoCard__controls">
						<div class="accountInfoCard__control accountInfoCard__control_copy btnDef">
							copy code <i class="icon-copy"></i>
						</div>
						<div class="accountInfoCard__control accountInfoCard__control_qr btnDef">
							QR code <i class="icon-qr"></i>
						</div> 
					</div>
				</div>

				<div class="blockchainInfo">
					<p>Blockchain info</p>
					<div class="blockchainInfo__description">
						<i class="icon-time"></i>Before funds appear on your account your transaction passes twelwe blockchain confirmations. It can take up to 25 minutes.
					</div>
				</div>
			</div>

			<div class="wallets__section wallets__section_calculator">
				<h3 class="wallets__title_calculator">Echange Calculator</h3>
				<div class="wallets__description_calculator">Exchange rate: 1 #MHC = 0.004 ETH</div>

				<!-- .kursBlock -->
				<div class="kursBlock">

					<!-- .kursBlock__item -->
					<div class="kursBlock__item">
						<div class="kursBlock__title">ETH</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

					<button><i class="icon-reset"></i></button>

					<!-- .kursBlock__item -->
					<div class="kursBlock__item kursBlock__item_active">
						<div class="kursBlock__title">#MHC</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

				</div><!-- End .kursBlock -->

				<!-- .transactionMonitor -->
				<div class="transactionMonitor">
					<div class="transactionMonitor__title">
						<span>Transaction monitor</span>
						<p>We are waiting for incoming transaction</p>
					</div>
					<div class="loading">
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
					</div>
				</div><!-- End .transactionMonitor -->

			</div>
		</div><!-- End .container -->
		
	</div><!-- End .tabContent -->

	<div class="wallets__tabContent tabContent tabContent_btc">
		<!-- .container -->
		<div class="container wallets__container">

			<div class="wallets__section wallets__section_buy">

				<h2 class="wallets__title_buy">
					<i class="icon-buy"></i>Buy #MHC for Bitcoin
				</h2>

				<div class="wallets__description_buy">
					Personal wallets in different currencies were created for you. All funds sent to these addresses will be funded to your account.
				</div>

				<div class="accountInfoCard">
					<div class="accountInfoCard__content">
						<h5 class="accountInfoCard__title">
							Your personal ETH account
						</h5>
						<div class="accountInfoCard__data">
							0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe
						</div>
					</div>
					<div class="accountInfoCard__controls">
						<div class="accountInfoCard__control accountInfoCard__control_copy btnDef">
							copy code <i class="icon-copy"></i>
						</div>
						<div class="accountInfoCard__control accountInfoCard__control_qr btnDef">
							QR code <i class="icon-qr"></i>
						</div> 
					</div>
				</div>

				<div class="blockchainInfo">
					<p>Blockchain info</p>
					<div class="blockchainInfo__description">
						<i class="icon-time"></i>Before funds appear on your account your transaction passes twelwe blockchain confirmations. It can take up to 25 minutes.
					</div>
				</div>
			</div>

			<div class="wallets__section wallets__section_calculator">
				<h3 class="wallets__title_calculator">Echange Calculator</h3>
				<div class="wallets__description_calculator">Exchange rate: 1 #MHC = 0.004 ETH</div>

				<!-- .kursBlock -->
				<div class="kursBlock">

					<!-- .kursBlock__item -->
					<div class="kursBlock__item">
						<div class="kursBlock__title">ETH</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

					<button><i class="icon-reset"></i></button>

					<!-- .kursBlock__item -->
					<div class="kursBlock__item kursBlock__item_active">
						<div class="kursBlock__title">#MHC</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

				</div><!-- End .kursBlock -->

				<!-- .transactionMonitor -->
				<div class="transactionMonitor">
					<div class="transactionMonitor__title">
						<span>Transaction monitor</span>
						<p>We are waiting for incoming transaction</p>
					</div>
					<div class="loading">
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
					</div>
				</div><!-- End .transactionMonitor -->

			</div>
		</div><!-- End .container -->
	</div>

	<div class="wallets__tabContent tabContent tabContent_ltc">
		<!-- .container -->
		<div class="container wallets__container">

			<div class="wallets__section wallets__section_buy">

				<h2 class="wallets__title_buy">
					<i class="icon-buy"></i>Buy #MHC for Litecoin
				</h2>

				<div class="wallets__description_buy">
					Personal wallets in different currencies were created for you. All funds sent to these addresses will be funded to your account.
				</div>

				<div class="accountInfoCard">
					<div class="accountInfoCard__content">
						<h5 class="accountInfoCard__title">
							Your personal ETH account
						</h5>
						<div class="accountInfoCard__data">
							0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe
						</div>
					</div>
					<div class="accountInfoCard__controls">
						<div class="accountInfoCard__control accountInfoCard__control_copy btnDef">
							copy code <i class="icon-copy"></i>
						</div>
						<div class="accountInfoCard__control accountInfoCard__control_qr btnDef">
							QR code <i class="icon-qr"></i>
						</div> 
					</div>
				</div>

				<div class="blockchainInfo">
					<p>Blockchain info</p>
					<div class="blockchainInfo__description">
						<i class="icon-time"></i>Before funds appear on your account your transaction passes twelwe blockchain confirmations. It can take up to 25 minutes.
					</div>
				</div>
			</div>

			<div class="wallets__section wallets__section_calculator">
				<h3 class="wallets__title_calculator">Echange Calculator</h3>
				<div class="wallets__description_calculator">Exchange rate: 1 #MHC = 0.004 ETH</div>

				<!-- .kursBlock -->
				<div class="kursBlock">

					<!-- .kursBlock__item -->
					<div class="kursBlock__item">
						<div class="kursBlock__title">ETH</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

					<button><i class="icon-reset"></i></button>

					<!-- .kursBlock__item -->
					<div class="kursBlock__item kursBlock__item_active">
						<div class="kursBlock__title">#MHC</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

				</div><!-- End .kursBlock -->

				<!-- .transactionMonitor -->
				<div class="transactionMonitor">
					<div class="transactionMonitor__title">
						<span>Transaction monitor</span>
						<p>We are waiting for incoming transaction</p>
					</div>
					<div class="loading">
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
					</div>
				</div><!-- End .transactionMonitor -->

			</div>
		</div><!-- End .container -->
	</div>

	<div class="wallets__tabContent tabContent tabContent_eos">
		<!-- .container -->
		<div class="container wallets__container">

			<div class="wallets__section wallets__section_buy">

				<h2 class="wallets__title_buy">
					<i class="icon-buy"></i>Buy #MHC for EOS
				</h2>

				<div class="wallets__description_buy">
					Personal wallets in different currencies were created for you. All funds sent to these addresses will be funded to your account.
				</div>

				<div class="accountInfoCard">
					<div class="accountInfoCard__content">
						<h5 class="accountInfoCard__title">
							Your personal ETH account
						</h5>
						<div class="accountInfoCard__data">
							0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe
						</div>
					</div>
					<div class="accountInfoCard__controls">
						<div class="accountInfoCard__control accountInfoCard__control_copy btnDef">
							copy code <i class="icon-copy"></i>
						</div>
						<div class="accountInfoCard__control accountInfoCard__control_qr btnDef">
							QR code <i class="icon-qr"></i>
						</div> 
					</div>
				</div>

				<div class="blockchainInfo">
					<p>Blockchain info</p>
					<div class="blockchainInfo__description">
						<i class="icon-time"></i>Before funds appear on your account your transaction passes twelwe blockchain confirmations. It can take up to 25 minutes.
					</div>
				</div>
			</div>

			<div class="wallets__section wallets__section_calculator">
				<h3 class="wallets__title_calculator">Echange Calculator</h3>
				<div class="wallets__description_calculator">Exchange rate: 1 #MHC = 0.004 ETH</div>

				<!-- .kursBlock -->
				<div class="kursBlock">

					<!-- .kursBlock__item -->
					<div class="kursBlock__item">
						<div class="kursBlock__title">ETH</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

					<button><i class="icon-reset"></i></button>

					<!-- .kursBlock__item -->
					<div class="kursBlock__item kursBlock__item_active">
						<div class="kursBlock__title">#MHC</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

				</div><!-- End .kursBlock -->

				<!-- .transactionMonitor -->
				<div class="transactionMonitor">
					<div class="transactionMonitor__title">
						<span>Transaction monitor</span>
						<p>We are waiting for incoming transaction</p>
					</div>
					<div class="loading">
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
					</div>
				</div><!-- End .transactionMonitor -->

			</div>
		</div><!-- End .container -->
	</div>

	<div class="wallets__tabContent tabContent tabContent_bitcc">
		<!-- .container -->
		<div class="container wallets__container">

			<div class="wallets__section wallets__section_buy">

				<h2 class="wallets__title_buy">
					<i class="icon-buy"></i>Buy #MHC for Bitcoin Cash
				</h2>

				<div class="wallets__description_buy">
					Personal wallets in different currencies were created for you. All funds sent to these addresses will be funded to your account.
				</div>

				<div class="accountInfoCard">
					<div class="accountInfoCard__content">
						<h5 class="accountInfoCard__title">
							Your personal ETH account
						</h5>
						<div class="accountInfoCard__data">
							0xde0B295669a9FD93d5F28D9Ec85E40f4cb697BAe
						</div>
					</div>
					<div class="accountInfoCard__controls">
						<div class="accountInfoCard__control accountInfoCard__control_copy btnDef">
							copy code <i class="icon-copy"></i>
						</div>
						<div class="accountInfoCard__control accountInfoCard__control_qr btnDef">
							QR code <i class="icon-qr"></i>
						</div> 
					</div>
				</div>

				<div class="blockchainInfo">
					<p>Blockchain info</p>
					<div class="blockchainInfo__description">
						<i class="icon-time"></i>Before funds appear on your account your transaction passes twelwe blockchain confirmations. It can take up to 25 minutes.
					</div>
				</div>
			</div>

			<div class="wallets__section wallets__section_calculator">
				<h3 class="wallets__title_calculator">Echange Calculator</h3>
				<div class="wallets__description_calculator">Exchange rate: 1 #MHC = 0.004 ETH</div>

				<!-- .kursBlock -->
				<div class="kursBlock">

					<!-- .kursBlock__item -->
					<div class="kursBlock__item">
						<div class="kursBlock__title">ETH</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

					<button><i class="icon-reset"></i></button>

					<!-- .kursBlock__item -->
					<div class="kursBlock__item kursBlock__item_active">
						<div class="kursBlock__title">#MHC</div>
						<input type="number" value="23.223">
					</div><!-- End .kursBlock__item -->

				</div><!-- End .kursBlock -->

				<!-- .transactionMonitor -->
				<div class="transactionMonitor">
					<div class="transactionMonitor__title">
						<span>Transaction monitor</span>
						<p>We are waiting for incoming transaction</p>
					</div>
					<div class="loading">
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
						<div class="loading__dot"></div>
					</div>
				</div><!-- End .transactionMonitor -->

			</div>
		</div><!-- End .container -->
	</div>

</section><!-- End .wallets -->