@import "vars"

html, body
	height: 100%
	
body
	position: relative
	margin: 0 
	font-size: 13px
	line-height: normal
	font-family: $default-font
	color: #000

body.no-scroll
	height: 100%
	width: 100%
	position: fixed
	overflow: hidden
a
	text-decoration: none
	color: #000
	&:hover,
	&:active,
	&:focus
		text-decoration: none
		outline: none
		color: #000

.posLink
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 1

img
	height: auto
	max-width: 100%
	border: none

ol, ul
  margin: 0
  padding: 0
  list-style: none

.overlay
	display: none
	position: fixed
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, .5)
	top: 0
	z-index: 2
	&.show
		display: block
/*________ pageMain ________*/
@import "../blocks/pageMain/pageMain"
/*________ End pageMain ________*/

